@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
 
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #363232
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.inputs {
  width: 25rem;

  text-align: center;

}

.inputs label {
  text-align: left;
  display: block;
  color: #ddd;
}

.inputs h1 {
  font-size: 2.5rem;
  color: #f1356d;
  margin-bottom: 30px;
}

.inputs input {
  width: 100%;
  padding: 8px 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  color: #ddd;
  background-color: transparent;

}

input[type='submit'] {
  width: 100%;
  background: #f1356d;
  color: #fff;
  font-size: 1rem;
  border: 0;
  padding: 10px 12px;
  margin-top: 2rem;
  border-radius: none;
  cursor: pointer;
}

/* ==== Card ====== */
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: transparent;
  width: 500px;
  height: 200px;
  border: 1px solid #f1f1f1;
  color: #f1356d;
  border-radius: 20px;
  margin-top: 2rem;
}


/* Add some padding inside the card container */
.container {
  padding: 2px 16px;

}


